{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    <h1>
                        Looking for Excellent <br> Cleaning Services?<br>
                    </h1>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        GET A QUOTE
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="#" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container ">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    <h1>
                        Looking for Excellent <br> Cleaning Services?<br>
                    </h1>
                    <div class="btn-box">
                        <a href="" class="btn1">
                          GET A QUOTE
                        </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="#" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    <h1>
                        Looking for Excellent <br> Cleaning Services?<br>
                    </h1>
                    <div class="btn-box">
                        <a href="" class="btn1">
                          GET A QUOTE
                        </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="#" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
          <li data-target="#customCarousel1" data-slide-to="1"></li>
          <li data-target="#customCarousel1" data-slide-to="2"></li>
        </ol>
      </div>

    </section>
    <!-- end slider section -->
  </div>


  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="service_container">
      <div class="container-fluid">
        <div class="heading_container heading_center">
          <h2>
            Our <span>Services</span>
          </h2>
          <p style="line-height: 30px;">
            Our mission is to be your top choice for quality office and domestic cleaning services, both on-demand and full contract. With extensive know-how and experience, we are committed to exceeding your expectations.
          </p>
        </div>
        <div class="row">
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/carpet-cleaner.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5 style="color: green;">
                  Carpet Cleaning Services
                </h5>
                <p style="line-height: 30px;">
                  We offer the best carpet steam cleaning in Nairobi. At Crystal Clear Cleaners, we provide quick, convenient, and hassle-free service, so your home is back to normal fast. Regular professional cleaning keeps rugs beautiful and valuable. We have the expertise and state-of-the-art equipment to care for your carpets safely and effectively.
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/house-cleaning.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5 style="color: green;">
                  Post Construction Cleaning Services
                </h5>
                <p style="line-height: 30px;">
                  Post-construction cleaning services are specialized cleaning services designed to thoroughly clean and prepare a space after construction or renovation work has been completed. Take advantage of our affordable post-construction cleaning services.
                  <ol>
                  <li>Debris Removal</li>
                    <li>Wall Washing</li>
                    <li>High-Dust Cleaning</li>
                    <li>Vacuuming, Sweeping, and Mopping</li>
                    <li>Cleaning Door Frames, Baseboards,and Blinds</li>
                    <li>Cleaning for Residential, Commercial, and School Construction</li>
                  </ol>
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/swimming-pool.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5 style="color: green;">
                 Pool Cleaning Services
                </h5>
                <p style="line-height: 30px;">
                    Crystal Clear Cleaners isn't just about sparkling floors and fresh carpets! We extend our expertise to your outdoor oasis with our exceptional pool cleaning service.
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/bathroom-cleaning.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5 style="color: green;">
                 Sofa Set Cleaning Services
                </h5>
                <p style="line-height: 30px;">
                  We begin by vacuuming the entire sofa set to remove loose dirt and dust particles, ensuring a fresh starting point for cleaning. Then, we use our steam cleaning machine, applying stain removal and shampoos to effectively remove stains from deep within the fibers. Throughout the process, we take care to avoid causing any damage to the fabric.
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/office-cleaning.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5 style="color: green;">
                 Office Cleaning Services
                </h5>
                <p style="line-height: 30px;">
                  A clean and organized office fosters a more productive and enjoyable work environment for everyone. We offer professional office cleaning services in Nairobi at affordable rates. Our commercial cleaning services include:
                  <ol>
                    <li>Daily office cleaners - available for daily visits or as needed</li>
                    <li>Supplying sanitary products, washroom services, and maintaining hygiene</li>
                    <li>Commercial carpet cleaning and maintenance</li>
                    <li>Hard floor cleaning, stripping, and sealing</li>
                    <li>Industrial cleaning, including move in/out deep cleans.</li>
                    <li>Commercial office cleaning services in Nairobi.</li>
                  </ol>
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/kitchen-cleaning.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5 style="color: green;">
                 Vehicle Interior Cleaning
                </h5>
                <p style="line-height: 30px;">
                  Over time, vehicle seats, whether leather or fabric, can gather dirt, dust, and stains, resulting in unpleasant odors. We provide comprehensive vehicle cleaning services, covering the dash, seats, mats, hood, trunk, and wheels. Using specially designed upholstery cleaning tools, we dissolve deep dirt to restore the car to its original condition. Additionally, we utilize appropriate products on plastics and leather to prolong the interior's lifespan and enhance its luxurious shine and luster.
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-box">
          <a href="">
            View All
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->


  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container-fluid">
      <div class="heading_container heading_center">
        <h2>
          About <span>Us</span>
        </h2>
        <p style="line-height: 30px;">
            Our mission is to be your top choice for quality office and domestic cleaning services, both on-demand and full contract. With extensive know-how and experience, we are committed to exceeding your expectations.
        </p>
      </div>
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'images/guess.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <h3>
              Why Crystal Clear Cleaners?
            </h3>
            <p style="line-height: 30px;">
                Crystal Clear Cleaners, founded in 2015, has been providing cleaning services for homes and businesses. Their goal is to make your space cleaner and more comfortable. They believe the secret to their success is twofold. First, they use well-trained staff, experienced supervisors, and the best equipment and cleaning supplies to get the job done right. Second, they focus on understanding what each customer needs, whether you're a homeowner or a business owner, and create a cleaning plan that fits those specific needs.
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- why section -->

  <section class="service_section layout_padding">
    <div class="service_container">
      <div class="container-fluid">
        <div class="heading_container heading_center">
          <h2>
            Why <span>Choose</span> US
          </h2>
          <p>
            REASONS FOR CHOOSING CRYSTAL CLEAR CLEANERS SERVICES:
          </p>
        </div>
        <div class="row">
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/accept.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5 style="color: green;">
                  Custom Cleaning
                </h5>
                <p style="line-height: 30px;">
                  At Crystal Clear Cleaners, we believe in cleaning your home your way. We discuss your priorities and preferences and blend them with our proven Crystal Clear methodology. Every Crystal Clear crew that cleans your home will have your custom cleaning plan in hand, ensuring you get the clean you want and a home to be proud of. That's why our clients consider us the best cleaning service in Nairobi, Kenya.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/trustworthiness.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5 style="color: green;">
                  Trust
                </h5>
                <p style="line-height: 30px;">
                  I trust Crystal Clear Cleaners to take care of my home." Our locally owned and operated office ensures you receive meticulous attention to detail, open communication, and a commitment to your satisfaction. Our unwavering dedication to our clients and years of faithful service have enabled us to provide the best cleaning services in Nairobi, Kenya.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/24hr.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5 style="color: green;">
                 24 Hour Guarantee
                </h5>
                <p style="line-height: 30px;">
                  Our guarantee means peace of mind. If you're not completely satisfied with a service, notify us within 24 hours, and we'll come back at no extra charge to meet your expectations. Your satisfaction is our priority.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/clean.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5 style="color: green;">
                 Is Clean, My Home looks Clean
                </h5>
                <p style="line-height: 30px;">
                  My home has never looked better thanks to Crystal Clear Cleaners, the best in Nairobi. Everyone notices how clean it is. There's nothing like coming home to a spotless house and feeling proud.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/contract.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5 style="color: green;">
                 No Contracts
                </h5>
                <p style="line-height: 30px;">
                  There are no contracts." At Crystal Clear Cleaners, we believe we're only as good as our last cleaning. You can cancel or suspend service anytime, for any reason. Enjoy the flexibility.
                </p>
          
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/affordable.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5 style="color: green;">
                 Affordability
                </h5>
                <p style="line-height: 30px;">
                  "Crystal Clear Cleaners fits my budget." Our flexibility extends to fashioning the right amount of help at the right intervals to make a difference for our customers within their budget.
                   
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  

  <!-- end why section -->

  <!-- team section -->
  <section class="team_section layout_padding">
    <div class="container-fluid">
      <div class="heading_container heading_center">
        <h2 class="">
          Our <span> Team</span>
        </h2>
      </div>

      <div class="team_container">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/team-1.jpg' %}" class="img1" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Joseph Kimathi
                </h5>
                <p>
                  Workers Manager
                </p>
              </div>
              <div class="social_box">
                <a href="#">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-youtube-play" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/team-2.jpg' %}" class="img1" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Nancy Mwihaki
                </h5>
                <p>
                  Marketing Head
                </p>
              </div>
              <div class="social_box">
                <a href="#">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-youtube-play" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/team-3.jpg' %}" class="img1" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Solomon Odhiambo
                </h5>
                <p>
                  Employee
                </p>
              </div>
              <div class="social_box">
                <a href="#">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-youtube-play" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/team-4.jpg' %}" class="img1" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Mary Mwihaki
                </h5>
                <p>
                  Employee
                </p>
              </div>
              <div class="social_box">
                <a href="#">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-youtube-play" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end team section -->


  <!-- client section -->

  <section class="client_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center psudo_white_primary mb_45">
        <h2>
          What our <span>Customers</span> say about <span>us</span>
        </h2>
      </div>
      <div class="carousel-wrap ">
        <div class="owl-carousel client_owl-carousel">
          <div class="item">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/client1.jpg' %}" alt="" class="box-img">
              </div>
              <div class="detail-box">
                <div class="client_id">
                  <div class="client_info">
                    <h6>
                      John Mburu
                    </h6>
                    <p>
                      Karen, Nairobi
                    </p>
                  </div>
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                </div>
                <p style="line-height: 30px;">
                    As an owner of an office, my office was cleaned by Crystal Clear Cleaners, I must say, I'm thoroughly impressed. Their attention to detail and professionalism truly transformed our workspace into a pristine environment. I highly recommend their services to anyone seeking top-notch office cleaning.
                </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/client2.jpg' %}" alt="" class="box-img">
              </div>
              <div class="detail-box">
                <div class="client_id">
                  <div class="client_info">
                    <h6>
                      Lilian Karimi
                    </h6>
                    <p>
                      Meru, Kenya
                    </p>
                  </div>
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                </div>
                <p style="line-height: 30px;">
                    Crystal Clear cleaners did a fantastic job cleaning my pool. The water is now crystal clear and inviting. I highly recommend their services for anyone looking for thorough and reliable pool cleaning.
                </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/client1.jpg' %}" alt="" class="box-img">
              </div>
              <div class="detail-box">
                <div class="client_id">
                  <div class="client_info">
                    <h6>
                      Victor Ndegwa
                    </h6>
                    <p>
                      Westlands, Nairobi
                    </p>
                  </div>
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                </div>
                <p style="line-height: 30px;">
                    I must commend Crystal Clear cleaners for their exceptional carpet cleaning service. They did a remarkable job, leaving my carpet looking fresh and spotless. I'm truly impressed with their professionalism and attention to detail. I highly recommend Crystal Clear cleaners to anyone in need of top-notch carpet cleaning.
                </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/client2.jpg' %}" alt="" class="box-img">
              </div>
              <div class="detail-box">
                <div class="client_id">
                  <div class="client_info">
                    <h6>
                      Yvonne Njeri
                    </h6>
                    <p>
                      Pangani, Nairobi
                    </p>
                  </div>
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                </div>
                <p style="line-height: 30px;">
                    I'm delighted to share my experience with Crystal Clear cleaners. They did an outstanding job cleaning my kitchen, leaving it sparkling clean and organized. I'm impressed by their thoroughness and efficiency. I highly recommend Crystal Clear cleaners to anyone seeking professional kitchen cleaning services. Thank you for making my kitchen shine!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end client section -->


  <!-- info section -->

  <section class="info_section layout_padding2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 info_col">
          <div class="info_contact">
            <h4>
              Address
            </h4>
            <div class="contact_link_box">
              <a href="#">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Parklands Plaza, 3<sup>rd</sup> Floor,  Westlands.
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call 0712345678 | 0790300000
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  crystalcleaners@gmail.com
                </span>
              </a>
            </div>
          </div>
          <div class="info_social">
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 info_col">
          <div class="info_detail">
            <h4>
              Info
            </h4>
            <p style="line-height: 30px;">
                We provide expert cleaning services to businesses and homes. With over 10 years of experience we'll ensure that you're always getting the best results from an award-winning firm focused on quality.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-2 mx-auto info_col">
          <div class="info_link_box">
            <h4>
              Links
            </h4>
            <div class="info_links">
              <a class="active" href="{% url 'home' %}">
                Home
              </a>
              <a class="" href="{% url 'about' %}">
                Why Us
              </a>
              <a class="" href="{% url 'services' %}">
                Services
              </a>
              
              <a class="" href="{% url 'contact' %}">
                Contact
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 info_col ">
          <h4>
            Subscribe
          </h4>
          <form action="#">
            <input type="text" placeholder="Enter email" />
            <button type="submit">
              Subscribe
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- end info section -->

  <!-- footer section -->
  <section class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="#">Benson Kimani</a>
      </p>
    </div>
  </section>
  <!-- footer section -->

  
  <!-- End Google Map -->
    
{% endblock  %}
    